## Notebook 1: Dasar-dasar dan Perencanaan‎¶

‎Langkah Python pertama‎

In [ ]:
2*6

In [ ]:
a = 6
b = 2
a * b

In [ ]:
print(a)
print(b)
print(a * b)
print(a / b)

In [ ]:
print('the value of a is', a)

In [ ]:
a ** b

In [ ]:
print('1/3 gives', 1 / 3)

In [ ]:
a = 1
b = 3
c = a / b
print(f'{a} divided by {b} gives {c}')

In [ ]:
print(f'{a} divided by {b} gives {c:.3f}') # three decimal places
print(f'{a} divided by {b} gives {c:10.3f}') # width 10 and three decimal places
print(f'{a} divided by {b} gives {c:.3e}') # three decimal places scientific notation

In [ ]:
print(f'the value of a is: {a}')
print(f'the value of b is: {b}')

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
plt.plot([1, 2, 4, 2])

In [ ]:
import numpy as np

In [ ]:
x = np.linspace(-4, 4, 5)
print(x)

In [ ]:
a = 1
b = 1
c = -6
x = np.linspace(-4, 4, 100)
y = a * x ** 2 + b * x + c  # Compute y for all x values
plt.plot(x, y)

In [ ]:
plt.plot([1, 2, 3], [2, 4, 3], linewidth=6);

In [ ]:
plt.figure(figsize=(10, 3))
plt.plot([1, 2, 3], [2, 4, 3], linewidth=6)
plt.title('very wide figure')
plt.figure()  # new figure of default size
plt.plot([1, 2, 3], [1, 3, 1], 'r')
plt.title('second figure');

***Latihan 1a, kode Python Pertama‎***

‎Menghitung nilai polinomial ‎‎dan‎=‎sebuah‎x2+‎bx‎‎+‎‎c‎‎ di ‎x=−2, x=0‎dan ‎x=2.1‎ menggunakan ‎a=1, b=1, c=−6‎ dan mencetak hasilnya ke layar.‎

In [ ]:
a = 1
b = 1
c = -6
x = -2
y = a * x ** 2 + b * x + c
print('y evaluated at x = -2 is', y)
x = 0 
y = a * x ** 2 + b * x + c
print('y evaluated at x = 0 is', y)
x = 2.1
y = a * x ** 2 + b * x + c
print('y evaluated at x = 2 is', y)

***Latihan 1b, kode Python Pertama menggunakan f-string‎***

‎Menghitung nilai polinomial ‎‎dan‎=‎sebuah‎x2+‎bx‎‎+‎‎c‎‎ di ‎x=−2, x=0‎dan ‎x=2.1‎ menggunakan ‎a=1, b=1, c=−6‎ dan cetak hasilnya ke layar menggunakan f-string dan 2 tempat desimal.‎

In [ ]:
a = 1
b = 1
c = -6
x = -2
y = a * x ** 2 + b * x + c
print(f'y evaluated at x = {x} is {y}')
x = 0 
y = a * x ** 2 + b * x + c
print(f'y evaluated at x = {x} is {y}')
x = 2.1
y = a * x ** 2 + b * x + c
print(f'y evaluated at x = {x} is {y:.2f}')

***‎ Latihan 2, Grafik pertama‎***

‎Komplot ‎‎dan‎=(x+2)(x−1)(x−2)‎ bagi ‎x‎ pergi dari ‎−3‎ ke ‎+3‎ menggunakan garis merah putus-putus. Pada angka yang sama, plot lingkaran biru untuk setiap titik di mana ‎‎dan‎‎ sama dengan nol. Atur ukuran penanda menjadi 10 (Anda mungkin perlu membaca bantuan untuk mengetahui cara melakukannya). Beri label sumbu sebagai 'sumbu x' dan 'sumbu y'. Tambahkan judul 'Gambar Python bagus pertama dari Nama Anda', di mana Anda memasukkan nama Anda sendiri.‎plt.plot

In [ ]:
x = np.linspace(-3, 3, 100)
y = (x + 2) * (x - 1) * (x - 2)
plt.plot(x, y, 'r--')
plt.plot([-2, 1, 2], [0, 0, 0], 'bo', markersize=10)
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('First Python Figure of Mark Bakker');

In [ ]:
a=1
b=1
c=-6
x=np.linspace(-4,4,100)
y=a*x**2+b*x+c#Compute y for all x values
plt.plot(x,y,linewidth=3)

In [ ]:
a = 1
b = 1
c = -6
x = np.linspace(-4, 4, 100)
y = a * x**2 + b * x + c  # Compute y for all x values
plt.plot(x, y, linewidth=3);

***‎ Latihan 3, Memuat data dan menambahkan legenda‎***

In [ ]:
holland = np.loadtxt('sample_data/holland_temperature.dat')
newyork= np.loadtxt('sample_data/newyork_temperature.dat')
beijing = np.loadtxt('sample_data/beijing_temperature.dat')
plt.plot(np.linspace(1, 12, 12), holland)
plt.plot(np.linspace(1, 12, 12), newyork)
plt.plot(np.linspace(1, 12, 12), beijing)
plt.xlabel('Number of the month')
plt.ylabel('Mean monthly temperature (Celcius)')
plt.xticks(np.linspace(1, 12, 12))
plt.legend(['Holland','New York','Beijing'], loc='best');

***‎ Latihan 4, Subplot dan spidol kutu mewah‎***

In [ ]:
air = np.loadtxt('sample_data/holland_temperature.dat') 
sea = np.loadtxt('sample_data/holland_seawater.dat')
plt.subplot(211)
plt.plot(air, 'b', label='air temp')
plt.plot(sea, 'r', label='sea temp')
plt.legend(loc='best')
plt.ylabel('temp (Celcius)')
plt.xlim(0, 11)
plt.xticks([])
plt.subplot(212)
plt.plot(air-sea, 'ko')
plt.xticks(np.linspace(0, 11, 12),
           ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'])
plt.xlim(0, 11)
plt.ylabel('air - sea temp (Celcius)');

In [ ]:
plt.plot([0, 1], [0, 1], 'C0')
plt.plot([0, 1], [1, 2], 'C1')
plt.plot([0, 1], [2, 3], 'C2')
plt.legend(['default blue', 'default orange', 'default green']);

In [ ]:
color1 = 'fuchsia'
color2 = 'lime'
color3 = 'DodgerBlue'
plt.plot([0, 1], [0, 1], color1)
plt.plot([0, 1], [1, 2], color2)
plt.plot([0, 1], [2, 3], color3)
plt.legend([color1, color2, color3]);

In [ ]:
plt.plot([1, 2, 3], [4, 5, 2], 'xkcd:baby puke green');
plt.title('xkcd color baby puke green');

***Exercise 5, Pie Chart***

In [ ]:
gold = [46, 38, 29, 24, 13, 11, 11, 8, 8, 7, 107]
countries = ['USA', 'CHN', 'GBR', 'RUS', 'KOR', 'GER', 'FRA', 'ITA', 'HUN', 'AUS', 'OTHER']
plt.pie(gold, labels = countries, colors = ['Gold', 'MediumBlue', 'SpringGreen', 'BlueViolet'])
plt.axis('equal');

***Exercise 6, Fill between***

In [ ]:
air = np.loadtxt('sample_data/holland_temperature.dat') 
sea = np.loadtxt('sample_data/holland_seawater.dat')
plt.fill_between(range(1, 13), air, color='b', alpha=0.3)
plt.fill_between(range(1, 13), sea, color='r', alpha=0.3)
plt.xticks(np.arange(1, 13), ['jan', 'feb', 'mar', 'apr',\
           'may', 'jun', 'jul', 'aug', 'sep', ' oct', 'nov', 'dec'])
plt.xlabel('Month')
plt.ylabel('Temperature (Celcius)');