## **Buku catatan 3: loop dan pernyataan‎forif/else**

‎Seperti yang akan kita gunakan lagi dan , kita mulai dengan mengimpornya‎numpymatplotlib

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

**‎Loop‎for**

‎Loop digunakan untuk menjalankan perintah berulang kali. Sintaks untuk loop adalah sebagai berikut‎

In [ ]:
for i in [0, 1, 2, 3, 4]:
    print('Hello world, the value of i is', i)

In [ ]:
for x in [0, 1, 2, 3]: 
    xsquared = x ** 2
    print('x, xsquare', x, xsquared)
print('We are done with the loop')

In [ ]:
for data in [20, 'mark', np.sqrt(10)]:
    print('the value of data is:', data)

In [ ]:
for i in range(10):
    print('the value of i is:', i)

In [ ]:
print('a range with 10 values:', list(range(10)))
print('a range from 10 till 20', list(range(10, 20)))
print('a range from 10 till 20 with steps of 2:', list(range(10, 20, 2)))

In [ ]:
x = np.linspace(0, 2 * np.pi, 100)
y = np.zeros_like(x)  # similar to zeros(shape(x))
for i in range(len(x)):
    y[i] = np.cos(x[i])
plt.plot(x, y);

**‎Pernyataan‎ if**

Pernyataan memungkinkan Anda melakukan tugas hanya jika hasil pernyataan itu benar. Misalnya‎ifif

In [ ]:
data = 4
print('starting value:', data)
if data < 6:
    print('changing data in the first if-statement')
    data = data + 2
print('value after the first if-statement:', data)
if data > 20:
    print('changing data in the second if-statement')
    data = 200
print('value after the second if-statement:', data)  # data hasn't changed as data is not larger than 20

**Pernyataan /‎ifelse**

‎Pernyataan tersebut dapat diikuti dengan pernyataan, yang dieksekusi ketika kondisi setelahnya adalah . Misalnya‎ifelseifFalse

In [ ]:
a = 4
if a < 3:
    print('a is smaller than 3')
else:
    print('a is not smaller than 3')

In [ ]:
a = 4
if a < 4:
    print('a is smaller than 4')
elif a > 4:
    print('a is larger than 4')
else:
    print('a is equal to 4')

In [ ]:
for i in range(3): # do this 3 times
    a = float(input('Enter a value: '))
    if a < 4:
        print('the entered value is smaller than 4')
    elif a > 4:
        print('the entered value is larger than 4')
    else:
        print('the entered value is equal to 4')

Perulangan dan **penjumlahan‎**

‎Salah satu aplikasi loop adalah menghitung jumlah semua nilai dalam array. Pertimbangkan, misalnya, array dengan 8 nilai. Kami akan menghitung jumlah semua nilai dalam . Pertama-tama kita mendefinisikan variabel dan menetapkannya nilai awal 0. Selanjutnya, kita loop melalui semua nilai dalam dan menambahkan setiap nilai untuk:‎datadatadatasumdatadatasum

In [ ]:
data = np.array([1, 3, 2, 5, 7, 3, 4, 2])
datasum = 0
for i in range(len(data)):
    datasum = datasum + data[i]
    print('i, datasum: ', i, datasum)
print('total sum of data: ', datasum)

**Menemukan nilai maksimum dengan cara yang sulit‎**

In [ ]:
maxvalue = -1e8
maxindex = None
for i in range(len(data)):
    if data[i] > maxvalue:
        maxvalue = data[i]
        maxindex = i
print('the maximum value is ', maxvalue)
print('the index of the maximum value is ', maxindex)

In [ ]:
print('the maximum value is ', np.max(data))
print('the index of the maximum value is ', np.argmax(data))

‎**Loop bersarang‎**

In [ ]:
data = np.array([[1, 2, 3, 5],
                 [4, 8, 6, 4],
                 [3, 5, 4, 6]])
rowtotal = np.zeros(3)
for irow in range(3):
    for jcol in range(4):
        rowtotal[irow] += data[irow, jcol]
        #longer alternative:
        #rowtotal[irow] = rowtotal[irow] + data[irow, jcol]
print(rowtotal)

In [ ]:
print('sum of entire array:', np.sum(data))
print('sum rows (axis=0):', np.sum(data, axis=0))
print('sum columns (axis=1):', np.sum(data, axis=1))

break‎ dan ‎while

In [ ]:
x = [1, 4, 5, 8, 9]
a = 6
for i in range(len(x)):
    if a < x[i]:
        break
print('a is between', x[i-1], 'and', x[i])

In [ ]:
x = [1, 4, 5, 8, 9]
a = 6
i = 0
while a >= x[i]:
    i = i + 1
print('a is between', x[i-1], 'and', x[i])

String‎

In [ ]:
text1 = 'Goodmorning everybody'
print(len(text1))
print(text1[0])
print(text1[0:12])

In [ ]:
text1 = 'Goodmorning everybody'
newtext = text1 + ' in the class'  # Adding two srings
print(newtext)
a = 7
mes = 'The magic number is ' + str(a)  # Combining strings and numbers
print(mes)

In [ ]:
print('delft' < 'eindhoven')  # True as 'd' is smaller than 'e'
print('dalft' < 'delft')      # True as 'a' is smaller than 'e'
print('delft' == 'Delft')     # False as lower and upper case are not equal
print('Delft' < 'delft')      # True as 'D' is smaller than 'd'
print('delft' > 'Eindhoven')  # Also True, as 'd' is larger than 'E' or any other upper case character

In [ ]:
TU = 'TU Delft'
print(TU)
print(TU.lower())
print(TU.upper())

In [ ]:
sentence = 'This is a sentence containing a number of words'
print('This is the sentence:', sentence)
wordlist = sentence.split()
print('This is the split sentence:', wordlist)
print('All words may be printed seperately:')
for word in wordlist:
    print(word)

***Latihan 1. Pertama untuk loop***

Buat daftar dengan nama bulan. Buat daftar kedua dengan jumlah hari di setiap bulan (untuk tahun reguler). Buat loop yang mencetak:for

The number of days in MONTH is XX days

di mana, tentu saja, Anda mencetak nama bulan yang benar untuk dan jumlah hari yang benar untuk . Gunakan f-string.MONTHXX

In [ ]:
months = ['January', 'February', 'March', 'April',\
          'May','June', 'July', 'August', 'September',\
          'October', 'November', 'December']
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for i in range(12):
    print(f'The number of days in {months[i]} is {days[i]}')

***Latihan 2. Kombinasi untuk loop dengan pernyataan if***

Pertimbangkan fungsi

ay=cos(x)forx<0 |
an=exp(−x)forx≥0

Menghitung y bagi x pergi dari −2π ke 2π dengan 100 poin dan membuat grafik. Pastikan batas-batas x-axis berasal dari −2π ke 2π.

In [ ]:
x = np.linspace(-2 * np.pi, 2 * np.pi, 100)
y = np.zeros_like(x)
for i in range(100):
    if x[i] < 0:
        y[i] = np.cos(x[i])
    else:
        y[i] = np.exp(-x[i])
plt.plot(x, y)
plt.xlim(-2 * np.pi, 2 * np.pi);

***Latihan 3. Memuat dan mengulang data suhu***

Muat data suhu untuk Holland dari file data . Loop melalui semua suhu bulanan dan mencetak pesan yang mencakup nomor bulan dan menyatakan apakah suhu rata-rata bulanan di atas atau di bawah 10 derajatholland_temperature.dat

In [ ]:
temperature = np.loadtxt('sample_data/holland_temperature.dat')
for i in range(len(temperature)):
    if temperature[i] < 10:
        print('average monthly temperature in month ', i + 1, ' is less than 10 degrees')
    else:
        print('average monthly temperature in month ', i + 1, ' is more than 10 degrees')

***Latihan 4. Total berjalan***

Untuk data contoh sebelumnya, hitung total yang berjalan dan simpan dalam array menggunakan loop. Oleh karena itu, hasilnya harus berupa array dengan panjang yang sama dengan di mana item adalah jumlah semua nilai dalam array hingga dan termasuk . Cetak array dan array dengan total berjalan ke layar. Akhirnya, periksa jawaban Anda dengan menggunakan fungsi , yang seharusnya memberikan jawaban yang sama dengan loop Anda.dataidatadata[i]datacumsumnumpy

In [ ]:
data = np.array([1, 3, 2, 5, 7, 3, 4, 2])
runningtotal = np.zeros_like(data)
runningtotal[0] = data[0]
for i in range(1, len(data)):
    runningtotal[i] = runningtotal[i-1] + data[i]
print('data values:', data)
print('running total:', runningtotal)
print('running total with numpy:', np.cumsum(data))

***Latihan 5. Bulan yang paling dekat dengan 15 derajat***

Temukan bulan di mana suhu bulanan rata-rata di Belanda paling dekat dengan 15 derajat (gunakan data dari Latihan 3). Terapkan pendekatan yang dijelaskan di atas dengan mengulang semua nilai dan gunakan pernyataan di dalam loop. Anda mungkin juga ingin menggunakan fungsi ini untuk menghitung nilai absolut dari suatu angka. Periksa jawaban Anda dengan menggunakan beberapa metode yang tidak memerlukan loop dan pernyataan.ifabsnumpyif

In [ ]:
temperature = np.loadtxt('sample_data/holland_temperature.dat')
print(temperature)
monthindex = -1
tdiff = 100.0
for i in range(12):
    if abs(temperature[i] - 15) < tdiff:
        monthindex = i
        tdiff = abs(temperature[i] - 15)
print('Number of month closest to 15 degrees, temp: ', monthindex + 1, temperature[monthindex])
print('Alternative method:')
altmin = np.argmin(abs(temperature - 15))
print('Number of month closest to 15 degrees, temp: ', altmin + 1, temperature[altmin])

***Latihan 6, Data minyak***

File tersebut berisi harga minyak bulanan sejak 1985. File berisi tiga kolom: tahun, bulan, harga dalam Euro (dari situs web bank eropa). Buat sebidang harga minyak (letakkan angka di sepanjang sumbu horizontal; kita akan belajar bagaimana melakukan tanggal di buku catatan lain) dan menentukan bulan dan tahun harga minyak pertama naik di atas 40 euro, di atas 60 euro, dan di atas 80 euro. Anda perlu menulis ke layar sesuatu seperti di mana dan merupakan bulan dan tahun yang benar. Gunakan loop ganda. Bisakah Anda memodifikasi kode sedemikian rupa sehingga tidak mencetak jumlah bulan tetapi nama bulan?oil_price.datThe oil price exceeds 40 euros for the first time in month xx of year yyyyxxyyyy

In [ ]:
oilprice = np.loadtxt('sample_data/oil_price_monthly.dat', delimiter=',')
plt.plot(oilprice[:,2], 'b-')
nrow, ncol = oilprice.shape
months = ['January', 'February', 'March', 'April',\
          'May','June', 'July', 'August', 'September',\
          'October', 'November', 'December']
for price in [40, 60, 80]:
    for i in range(nrow):
        if oilprice[i, 2] > price:
            print(f'The oil price exceeds {price} euros for the first time in', \
                  f'{months[int(oilprice[i, 1])]} of {oilprice[i, 0]:.0f}')
            break

***Latihan 7. Temukan posisi nama Anda dalam daftar***

Gunakan loop untuk mencari tahu di antara dua nama mana nama Anda termasuk dalam daftar dan cetak hasilnya ke layar.['Aaldrich', 'Babette', 'Chris', 'Franka', 'Joe', 'Louisa', 'Pierre', 'Simone', 'Tarek', 'Yvonne', 'Zu']

In [ ]:
x = ['Aaldrich', 'Babette', 'Chris', 'Franka', 'Joe', 'Louisa', 'Pierre', 'Simone', 'Tarek', 'Yvonne', 'Zu']
myname = 'Guido'
for i in range(len(x)):
    if myname < x[i]:
        break
print(myname, 'is between', x[i-1], 'and', x[i])