## **Notebook 2 : Arrays**

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

**Array satu-dimesional‎**

‎Ada banyak cara untuk membuat array. Misalnya, Anda dapat memasukkan elemen individual dari array‎

In [ ]:
np.array([1, 7, 2, 12])

In [ ]:
print(np.arange(1, 7)) 
print(np.arange(5))

In [ ]:
x = np.array([1, 7, 2, 12])
print('number of dimensions of x:', np.ndim(x))
print('length of x:', len(x))

In [ ]:
x = np.arange(20, 30)
print('array x:', x)
print('value with index 0:', x[0])
print('value with index 5:', x[5])

In [ ]:
x = np.arange(20, 30)
print(x)
print(x[0:5])
print(x[:5])
print(x[3:7])
print(x[2:9:2])

In [ ]:
xvalues = np.arange(0, 100, 10)
print(xvalues)
print(xvalues[len(xvalues) - 1])  
print(xvalues[-1]) 
print(xvalues[-1::-1])

In [ ]:
x = 20 * np.ones(10)
print(x)
x[0:5] = 40
print(x)
x[0:5] = np.arange(40, 50, 2)
print(x)

**Arrays, Lists, and Tuples**

In [ ]:
alist = [1, 2, 3]
print('alist', alist)
btuple = (10, 20, 30)
print('btuple', btuple)
alist[0] = 7  
print('modified alist', alist)
#btuple[0] = 100  
#print(2 * alist)

In [ ]:
alist = [1, 20.0, 'python', np.array([1,2,3]), len]
print(alist)
print(alist[0])
print(alist[2])
print(alist[4](alist[3]))

**Two-dimensional arrays**

In [ ]:
x = np.ones((3, 4)) # An array with 3 rows and 4 columns
print(x)

In [ ]:
x = np.array([[4, 2, 3, 2],
              [2, 4, 3, 1],
              [0, 4, 1, 3]])
print(x)
print(np.reshape(x, (2, 6)))  
print(np.reshape(x, (1, 12)))

In [ ]:
x = np.zeros((3, 8))
x[0, 0] = 100
x[1, 4:] = 200  
x[2, -1:4:-1] = 400  
print(x)

**Arrays are not matrices**

In [ ]:
a = np.arange(4, 20, 4)
b = np.array([2, 2, 4, 4])
print('array a:', a)
print('array b:', b)
print('a * b  :', a * b) 
print('a / b  :', a / b)

**Visualizing two-dimensional arrays**

In [ ]:
x = np.array([[8, 4, 6, 2],
              [4, 8, 6, 2],
              [4, 8, 2, 6],
              [8, 2, 4, 6]])
plt.matshow(x)
plt.colorbar(ticks=[2, 4, 6, 8], shrink=0.8)
print(x)

In [ ]:
plt.matshow(x, cmap='rainbow')
plt.colorbar(ticks=np.arange(2, 9, 2), shrink=0.8);

**Using conditions on arrays**

In [ ]:
a = 4
print('a < 2:', a < 2)
print('a > 2:', a > 2)

In [ ]:
a = 4
print('the value of a is', a)
print('a < 4: ', a < 4)
print('a <= 4:', a <= 4) 
print('a == 4:', a == 4)
print('a >= 4:', a >= 4) 
print('a > 4: ', a > 4)
print('a != 4:', a != 4)

In [ ]:
print(4 == 4)
a = 4 == 5
print(a)
print(type(a))

In [ ]:
data = np.arange(5)
print(data)
print(data < 3)

In [ ]:
a = np.arange(5)
print(a)
print(a[[True, True, False, False, True]])

In [ ]:
a = np.arange(5)
print('the total array:', a)
print('values less than 3:', a[a < 3])

In [ ]:
a = np.arange(5)
print(a)
a[a < 3] = 10
print(a)

**Select indices based on multiple conditions**

In [ ]:
x = np.linspace(0, 6 * np.pi, 50)
y = np.sin(x)
plt.plot(x[(y > 0.7) | (y < -0.5)], y[(y > 0.7) | (y < -0.5)], 'bo')
plt.plot(x[(y > -0.5) & (y < 0.7)], y[(y > -0.5) & (y < 0.7)], 'ro');

***Exercise 1, Arrays and indices***

Buat array nol dengan panjang 20. Ubah 5 nilai pertama menjadi 10. Ubah 10 nilai berikutnya ke urutan mulai dari 12 dan increasig dengan langkah 2 hingga 30 (lakukan ini dengan satu perintah). Atur 5 nilai terakhir menjadi 30. Plot nilai array pada ‎‎dan‎‎-axis vs. indeks array pada ‎x‎-axis. Gambar garis putus-putus vertikal di ‎x=4‎ dan ‎x=14‎ (yaitu, bagian antara garis putus-putus adalah tempat garis meningkat dari 10 menjadi 30). Mengatur nilai minimum dan maksimum dari ‎‎dan‎‎-axis ke 8 dan 32 menggunakan perintah.‎ylim

In [ ]:
x = np.zeros(20)
x[:5] = 10
x[5:15] = np.arange(12, 31, 2)
x[15:] = 30
plt.plot(x)
plt.plot([4, 4], [8, 32],'k--')
plt.plot([14, 14], [8, 32],'k--')
plt.ylim(8, 32);

***Exercise 2, Two-dimensional array indices***

Untuk array yang ditunjukkan di bawah ini, tulis kode untuk dicetak:‎x | 

‎baris pertama dari ‎x, 
‎kolom pertama dari ‎x, 
‎baris ketiga dari ‎x, 
‎dua kolom terakhir dari ‎x, 
‎blok nilai 2 per 2 di sudut kanan atas ‎x
‎blok nilai 2 per 2 di tengah ‎x
x = np.array([[4, 2, 3, 2], [2, 4, 3, 1], [2, 4, 1, 3], [4, 1, 2, 3]])

In [ ]:
x = np.array([[4, 2, 3, 2],
              [2, 4, 3, 1],
              [2, 4, 1, 3],
              [4, 1, 2, 3]])
print('the first row of x')
print(x[0])
print('the first column of x')
print(x[:, 0])
print('the third row of x')
print(x[2])
print('the last two columns of x')
print(x[:, -2:])
print('the four values in the upper right hand corner')
print(x[:2, 2:])
print('the four values at the center of x')
print(x[1:3, 1:3])

***Exercise 3, Create and visualize an array***

‎Buat array ukuran 10 kali 10. Atur kuadran kiri atas array harus ke 4, kuadran kanan atas ke 3, kuadran kanan bawah t0 2 dan kuadran kiri bawah ke 1. Pertama buat array 10 kali 10 menggunakan perintah, lalu isi setiap kuadran dengan menentukan rentang indeks yang benar. Visualisasikan array menggunakan . Ini harus memberikan kotak merah, kuning, biru muda dan biru tua (jam-bijaksana mulai dari kiri atas) ketika Anda menggunakan peta warna.‎zerosmatshowjet

In [ ]:
x = np.zeros((10, 10))
x[:5, :5] = 4
x[:5, 5:] = 3
x[5:, 5:] = 2
x[5:, :5] = 1
print(x)
plt.matshow(x, cmap='jet')
plt.colorbar(ticks=[1, 2, 3, 4], shrink=0.8);

***Exercise 4, Create and visualize a slightly fancier array***

‎Pertimbangkan gambar yang ditunjukkan di bawah ini, yang kira-kira menunjukkan huruf TU. Anda diminta untuk membuat array yang mewakili TU yang sama. Pertama buat array nol dari 11 baris dan 17 kolom. Berikan nilai latar belakang 0, nilai huruf T -1, dan huruf U nilai +1. Gunakan peta warna.

In [ ]:
x = np.zeros((11, 17))
x[2:4, 1:7] = -1
x[2:9, 3:5] = -1
x[2:9, 8:10] = 1
x[2:9, 13:15] = 1
x[7:9, 10:13] = 1
print(x)
plt.matshow(x, cmap='jet')
plt.yticks(range(11, -1, -1))
plt.xticks(range(0, 17));
plt.ylim(10.5, -0.5)
plt.xlim(-0.5, 16.5);

***Exercise 5, Replace high and low values in an array***

‎Membuat array untuk variabel ‎x‎ terdiri dari 100 nilai dari 0 hingga 20. Menghitung ‎‎dan‎=‎dosa‎‎(‎‎x‎)‎ dan plot ‎‎dan‎ vs. x‎ dengan garis biru. Selanjutnya, ganti semua nilai dari ‎‎dan‎‎ yang lebih besar dari 0,5 kali 0,5, dan semua nilai yang lebih kecil dari ‎−‎0.75 oleh ‎−‎0.75, dan plot yang dimodifikasi ‎‎dan‎‎ nilai vs. ‎x‎ menggunakan garis merah pada grafik yang sama.‎

In [ ]:
x = np.linspace(0, 20, 100)
y = np.sin(x)
plt.plot(x, y, 'b')
y[y > 0.5] = 0.5
y[y < -0.75] = -0.75
plt.plot(x, y, 'r');

***Exercise 6, Change marker color based on data value***

‎Membuat array untuk variabel ‎x‎ terdiri dari 100 poin dari 0 hingga 20 dan komputasi ‎‎dan‎=‎dosa‎‎(‎‎x‎)‎. Plot titik biru untuk setiap ‎‎dan‎‎ itu lebih besar dari nol, dan titik merah sebaliknya‎

In [ ]:
x = np.linspace(0, 20, 100)
y = np.sin(x)
plt.plot(x[y > 0], y[y > 0], 'bo')
plt.plot(x[y <= 0], y[y <= 0], 'ro');

***Exercise 8, Fix the error***

‎Dalam kode di bawah ini, ini dimaksudkan untuk memberikan 5 nilai terakhir dari array nilai [50, 52, 54, 56, 58] dan mencetak hasilnya ke layar, tetapi ada beberapa kesalahan dalam kode. Hapus penanda komentar dan jalankan kode untuk melihat pesan kesalahan. Kemudian perbaiki kode dan jalankan lagi.‎x

In [ ]:
x = np.ones(10)
x[5:] = np.arange(50, 60, 2)
print(x)

***Exercise 7, Multiple conditions***

‎Latihan 7, ‎‎ Beberapa kondisi‎
‎File berisi 1000 yang dipilih secara acak ‎xypoints.datx,‎dan‎‎ lokasi titik; keduanya ‎x‎ dan ‎‎dan‎‎ bervariasi antara -10 dan 10. Muat data menggunakan , dan simpan baris pertama array dalam array yang disebut dan baris kedua dalam array yang disebut . Pertama, plot titik merah untuk semua poin. Pada grafik yang sama, plot titik biru untuk semua ‎loadtxtxyx,‎dan‎‎ titik-titik di mana ‎‎x‎‎<‎‎-‎‎2‎‎ dan ‎−5≤‎dan‎≤0‎. Akhirnya, plot titik hijau untuk setiap titik yang terletak di lingkaran dengan pusat ‎(xc,‎dan‎c)=(‎5,0‎)‎ dan dengan radius ‎R=5‎. Petunjuk: mungkin berguna untuk menghitung array baru untuk jarak radial ‎r‎ antara titik mana pun dan pusat lingkaran menggunakan rumus ‎r=(x−xc)2+(‎dan‎−‎dan‎c)2−−−−−−−−−−−−−−−−−√‎. Gunakan perintah untuk memastikan skala di sepanjang dua sumbu sama dan area melingkar terlihat seperti lingkaran.‎plt.axis('equal')

In [ ]:
x, y = np.loadtxt('sample_data/xypoints.dat')
plt.plot(x, y, 'ro')
plt.plot(x[(x < -2) & (y >= -5) & (y < 0)], y[(x < -2) & (y >= -5) & (y < 0)], 'bo')
r = np.sqrt((x - 5) ** 2 + y ** 2)
plt.plot(x[r < 5], y[r < 5], 'go')
plt.axis('scaled');